<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

		<link rel="stylesheet" href="/assets/css/friendlier_style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
		<title>Friendlier</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/friendly.js"></script>
	</head>
	<body>
		<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  			<header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
    			<div class="mdl-layout__header-row">
     			 	<!-- Title -->
      				<span class="mdl-layout-title">friendlier</span>
      				<!-- Add spacer, to align navigation to the right -->
      				<div class="mdl-layout-spacer"></div>
      				<!-- Navigation -->
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="">Link</a>
						<a class="mdl-navigation__link" href="">Link</a>
						<a class="mdl-navigation__link" href="">Link</a>
						<a class="mdl-navigation__link" href="">Link</a>
					</nav>
    			</div>
  			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">friendlier</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
					<a class="mdl-navigation__link" href="">Link</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
				{{{ body }}}
			</main>
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__left-section">
					<div class="mdl-logo">
					More Information
					</div>
					<ul class="mdl-mini-footer__link-list">
					<li><a href="#">Help</a></li>
					<li><a href="#">Privacy and Terms</a></li>
					<li><a href="#">User Agreement</a></li>
					</ul>
				</div>
				<div class="mdl-mini-footer__right-section">
					<button class="mdl-mini-footer__social-btn"></button>
					<button class="mdl-mini-footer__social-btn"></button>
					<button class="mdl-mini-footer__social-btn"></button>
				</div>
			</footer>
		</div>
	</body>
</html>