<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet" id="bounceIn">
      <img src="https://image.ibb.co/dOOE3n/friend.png" alt="Friend" height="600">
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet" id="bounceIn2">
      <h1>Random Acts of Kindness</h1>
      <h4>Friendlier app is a simple way to keep track of every way you pay-it-forward. Add a simple task and brighten a neighbor's day!</h4>
  </div>
</div>
<div class="mdl-grid" id="addIt">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--4-offset">
      <h2>Add an Act</h2>
        <form class="create-form">
            <div class="mdl-textfield mdl-js-textfield form-group">
                <label class="mdl-textfield__label" for="act">Name:</label>
                <input class="mdl-textfield__input" type="text" id="act" name="act_name">
            </div>
            <div class="form-group">
                <label for="done">Completed?</label><br>
                <input type="radio" name="done" value="1"> Yes <br>
                <input type="radio" name="done" value="0"> No
            </div>
            {{!-- <div class="form-group">
                <label for="done">Completed?</label><br>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" class="mdl-radio__button" name="done" value="1" checked> <span class="mdl-radio__label">No</span></label><br>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" class="mdl-radio__button" name="done" value="0"> <span class="mdl-radio__label">Yes</span></label>
            </div> --}}
<<<<<<< HEAD
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" id="colorB">Add</button>
=======
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">Add</button>
>>>>>>> fddeb13b43ba3a06ac1ad0f05b422473dcb31501
        </form>
    </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <h2>To Do:</h2>

        <ul class="demo-list-item mdl-list">
        {{#each random_acts}}
            {{#unless done}}
            {{> act/act-block done=true}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
        <h2>Completed!</h2>

        <ul class="demo-list-item mdl-list">
        {{#each random_acts}}
            {{#if done}}
            {{> act/act-block done=false}}
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>